# General folders to ignore
__pycache__/
.pytest_cache/
logs/
*egg-info*/
dist/
docs/*.html

# General files to ignore
.DS_Store

# Specific files to ignore

# Package folders to ignore
p2obp/tests/data/
